*{
    margin: 0;
    padding: 0;
}
/* sobre mi */
.fs-1{
    color: deeppink;
}

@media screen and (min-width: 500px){

    .diploma__img{
        size-adjust: 10px;
        border: none;
    }
    
}